<div class="container-fluid">

<form  #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
<div class="form-group">
<label for="">Name</label>

<input type="text" #nameRef required class="form-control" name="name" ngModel>
{{nameRef.className}}
<div  *ngIf="nameRef.invalid" class="alert alert-danger" >

  please enter your name
</div>
</div>
<div class="form-group">
  <label for="">Email</label>
  <input type="text" class="form-control" name="email" ngModel>
  </div>
  <div class="form-group">
    <label for="">PhoneNo</label>
    
    <input type="text" class="form-control" name="phoneno" ngModel>
    </div>
    
  <div class="form-group">
    <label for="">Street</label>
    
    <input type="text" class="form-control" name="street" ngModel>
    </div>
    
  <div class="form-group">
    <label for="">City</label>
    
    <input type="text" class="form-control" name="city" ngModel>
    </div>

    <div class="form-group">
      <label for="">PostelCode</label>
      
      <input type="text" class="form-control" name="postelcode" ngModel>
      </div>
  <input type="submit" class="btn btn-primary">

</form>

</div>